{% extends 'base.html' %}
{% block title %}
	Codeforces Upsolving Helper
{% endblock %}
{% block content %}
	<main>
		<div class="container">
			<section class="mx-3">
				<!-- Messages Template Included -->
				<div class="d-flex justify-content-end">
					<a href="{{ url_for('team_mode') }}">
						<button class="btn btn-info">
							 Switch to <i class="fas fa-users"></i> Team Mode
						</button>
					</a>
				</div>
				{% include 'messages.html' %}
				<div id="connecting_info" class="text-center alert alert-info flash alert-dismissible fade show" role="alert">
				    Welcome to <img src="{{ url_for('static', filename='images/favicon.png') }}" height="30" class="d-inline-block align-top" alt="mdb logo"> <b> <span class="text-warning">Codeforces</span> <span class="text-primary">Upsolving</span> <span class="text-danger">Helper</span></b>. Feel free to raise <a target="_blank" href="https://github.com/pirateksh/codeforces-upsolving-helper/issues" class="alert-link">issues</a> / <a target="_blank" href="https://github.com/pirateksh/codeforces-upsolving-helper/pulls" class="alert-link">pull requests</a> regarding bugs / improvements.
				    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button> -->
				</div>
                <div id="update" class="text-center alert alert-success flash alert-dismissible fade show" role="alert">
                    <a class="alert-link">UPD (July 24, 2020):</a> <a class="alert-link"><i class="fas fa-random"></i> Randomize</a> button has been added at the <a class="alert-link">end of each section</a> in <a class="alert-link"><i class="fab fa-autoprefixer"></i> All Problemset Recommender</a>.
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
				<div id="update" class="text-center alert alert-info flash alert-dismissible fade show" role="alert">
				    <a class="alert-link">UPD (July 19, 2020):</a> Try new <a class="alert-link">Unattempted Problem Recommender</a> by Entering your <a class="alert-link">handle</a> and then selecting <a class="alert-link"><i class="fas fa-registered"></i> Recommended Problems</a>.
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
				
				<!-- Flashing Messages -->
			<!-- 	<div class="alert alert-warning flash alert-dismissible fade show" role="alert">
				    In case of <a class="alert-link">Internal Server Error</a>, try again after sometime. If it persists raise an <a target="_blank" href="https://github.com/pirateksh/codeforces-upsolving-helper/issues" class="alert-link">issue</a> on github stating the <b>Codeforces Handle</b> you entered.
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div> -->
				<!-- Form Card -->
				<div class="card text-center">
					<form method="post" action="{{ url_for('home_view') }}">
						<div class="card-header">
							Enter your <img src="{{ url_for('static', filename='images/codeforces-icon.png') }}" height="35" class="d-inline-block align-top" alt="mdb logo"> <span class="text-info">Codeforces</span> Handle
						</div>
						<div class="card-body">
							<div class="md-form form-lg input-group my-0">
								<div class="input-group-prepend">
							        <span class="input-group-text" id="basic-addon11">@</span>
							    </div>
								<input type="text" id="user_handle" name="user_handle" class="form-control form-control-lg" aria-label="Username" aria-describedby="basic-addon11" placeholder="Codeforces Handle" >
							</div>
							<button onclick="f('home')" type="submit" class="btn btn-info btn-rounded">Enter</button>
						</div>
						<div class="card-footer text-muted">
						    Please wait <i class="fas fa-clock"></i> after clicking on Enter Button.
						</div>
					</form>
				</div>
				<!-- Form Card -->

				<br>
				{% if status %}
					{% if status == "OK" %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{% if user_info.handle %}
									<h4>
										<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="{{ user_info.color }}">{{ user_info.title }} {{ user_info.handle }}</a>
									</h4>
									<h4>
										<span class="{{ user_info.color }}"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										(max. 
										<span class="{{ user_info.max_color }}">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										)
									</h4>
									<h4>
										{% if user_info.first_name %} {{ user_info.first_name }} {% endif %}
										{% if user_info.last_name %} {{ user_info.last_name }} {% endif %}
									</h4>
									<h5>{% if user_info.organization %} Organization: {{ user_info.organization }} {% endif %}</h5>
									
									{% if unsolved_info.total_unsolved > 0 %}
										Scroll further down to see Unsolved or Recommended Problems. 
									{% else %}
										<h5 class="text-success">Wohooo! You have solved each and every Problem that you ever touched on Codeforces.</h5> 
										<h4 class="text-danger">OR</h4> 
										<h5 class="text-warning">Probably you have not touched even a single problem on Codeforces.</h5>
									{% endif %}
								{% endif %}
							</div>
							<div class="card-footer text-muted">
								<div class="row">
									<div class="col-6">
										<b>Star <i class="fas fa-star black-text"></i></b> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">Github repository</a>. <i class="far fa-grin-beam red-text"></i>
									</div>
									<div class="col-6">
										<b>Upvote <i class="text-success fas fa-caret-up"></i></b> the <a class="text-info" target="_blank" href="https://codeforces.com/blog/entry/79917"> Codeforces blog</a>. <i class="far fa-grin-beam red-text"></i>
									</div>
								</div>
							</div>
						</div>
						<br/>

						{% include 'problems.html' %}
						
					{% else %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{{ comment }}
							</div>
							<div class="card-footer text-muted">
							    Star <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class="card text-center">
						<div class="card-header">
							What is <img src="{{ url_for('static', filename='images/favicon.png') }}" height="30" class="d-inline-block align-top" alt="mdb logo"><b> <span class="text-warning">Codeforces</span> <span class="text-primary">Upsolving</span> <span class="text-danger">Helper</span></b> ?
						</div>
						<div class="card-body">
							<p class="text-black-50">A web app developed using <a class="text-info" href="https://flask.palletsprojects.com/en/1.1.x/quickstart/#a-minimal-application" target="_blank">Flask</a> that compiles all the Problems on <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a> that you have attempted (submitted at least once) but could not get <span class="text-success">Accepted</span> verdict. For convenience, the problems can be segregated by <b>Index</b> (i.e. A, B, and so on) OR <b>Rating (i.e. Less than 1000, Between 1000 and 1200, and so on)</b>. <b>Unattempted Recommended Problems</b> are displayed in <b>Recommended Section</b>. Click on the Problem Name to visit the original problem page on <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a>, solve it, come back here and repeat. Good Luck and High Rating!
							</p>
						</div>
						<div class="card-footer text-muted">
							<div class="row">
								<div class="col-6">
									<b>Star <i class="fas fa-star black-text"></i></b> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">Github repository</a>. <i class="far fa-grin-beam red-text"></i>
								</div>
								<div class="col-6">
									<b>Upvote <i class="text-success fas fa-caret-up"></i></b> the <a class="text-info" target="_blank" href="https://codeforces.com/blog/entry/79917"> Codeforces blog</a>. <i class="far fa-grin-beam red-text"></i>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</section>
		</div>
	</main>
{% endblock %}
{% block javascript %}
    <script>
        {% if recommended_problems %}
            $('.classRecommendedByProblemsetRandom').click(function (e) {
                let _this = $(this);
                let category = _this.attr('category');
                let problems = {{ recommended_problems.rp_all | safe }};
                // console.log(problems);
                let problemDivId = `#idRecommenderByContestProblems-${category}`;
                let problemDiv = $(problemDivId);
                {#console.log(`Randomize is clicked for category ${category}.`);#}
                let problemCategory = problems[category];
                let totalProblems = problemCategory.length;
                let arr = [];
                while(arr.length < 10){
                    let r = Math.floor(Math.random() * totalProblems);
                    if(arr.indexOf(r) === -1) arr.push(r);
                }
                arr.sort((a,b)=>a-b); // Sorting Numerically
                let toAppend = "";
                for(let i = 0; i < 10; ++i) {
                    let problem = problemCategory[arr[i]], temp;
                    if(category !== '6') {
                        temp = `<p><b><a class="text-info" href="${problem[2]}" target="_blank">${problem[0]} - ${problem[1]} (Rating: ${problem[3]})</a></b><p>`;
                    } else {
                        temp = `<p><b><a class="text-info" href="${problem[2]}" target="_blank">${problem[0]} - ${problem[1]}</a></b><p>`;
                    }
                    toAppend += temp;
                }
                problemDiv.html(toAppend);
                return false;
            });
        {% endif %}
    </script>
{% endblock %}