{% extends 'base.html' %}
{% block title %}
	Codeforces Upsolving Helper
{% endblock %}
{% block content %}
	<main>
		<div class="container">
			<section class="mx-4 my-3 py-3">

				<!-- Flashing Messages -->
				<div id="connecting_info" class="alert alert-info flash alert-dismissible fade show" role="alert">
			        Welcome to <img src="{{ url_for('static', filename='images/favicon.png') }}" height="30" class="d-inline-block align-top" alt="mdb logo"> <b> <span class="text-warning">Codeforces</span> <span class="text-primary">Upsolving</span> <span class="text-danger">Helper</span></b>. Feel free to raise <a target="_blank" href="https://github.com/pirateksh/codeforces-upsolving-helper/issues" class="alert-link">issues</a> / <a target="_blank" href="https://github.com/pirateksh/codeforces-upsolving-helper/pulls" class="alert-link">pull requests</a> regarding bugs / improvements.
			        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
			    </div>
			    {% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
							{% if category == 'error' %}
								<div id="connected_danger" class="alert alert-danger flash alert-dismissible fade show" role="alert">
						            {{ message }}
						            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								    	<span aria-hidden="true">&times;</span>
								  	</button>
						        </div>
							{% elif category == 'success' %}
								<div id="connected_success" class="alert alert-success flash alert-dismissible fade show" role="alert">
						            {{ message }} Scroll to see results.
						            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								    	<span aria-hidden="true">&times;</span>
								  	</button>
						        </div>
							{% endif %}	
						{% endfor %}
					{% endif %}
				{% endwith %}
				<!-- Flashing Messages -->

				<!-- Form Card -->
				<div class="card text-center">
					<form method="post" action="{{ url_for('home_view') }}">
						<div class="card-header">
							Enter your <img src="{{ url_for('static', filename='images/codeforces-icon.png') }}" height="35" class="d-inline-block align-top" alt="mdb logo"> <span class="text-info">Codeforces</span> Handle !
						</div>
						<div class="card-body">
							<div class="md-form form-lg input-group my-0">
								<div class="input-group-prepend">
							        <span class="input-group-text" id="basic-addon11">@</span>
							    </div>
								<input type="text" id="user_handle" name="user_handle" class="form-control form-control-lg" aria-label="Username" aria-describedby="basic-addon11" placeholder="Codeforces Handle" >
							</div>
							<button onclick="f()" type="submit" class="btn btn-info btn-rounded">Enter</button>
						</div>
						<div class="card-footer text-muted">
						    Please wait <i class="fas fa-clock"></i> after clicking on Enter Button.
						</div>
					</form>
				</div>
				<!-- Form Card -->

				<br>
				{% if status %}
					{% if status == "OK" %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{% if user_info.handle %}
									<h4>
										<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="{{ user_info.color }}">{{ user_info.title }} {{ user_info.handle }}</a>
									</h4>
									<h4>
										<span class="{{ user_info.color }}"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										(max. 
										<span class="{{ user_info.max_color }}">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										)
									</h4>
									<h4>
										{% if user_info.first_name %} {{ user_info.first_name }} {% endif %}
										{% if user_info.last_name %} {{ user_info.last_name }} {% endif %}
									</h4>
									<h5>{% if user_info.organization %} Organization: {{ user_info.organization }} {% endif %}</h5>
									<h5>Total Unsolved Problems: {{ total_unsolved }}</h5>
									{% if final_dict|length > 0 %}
										Scroll further down to see unsolved Problems. 
									{% else %}
										<h5 class="text-success">Wohooo! You have solved each and every Problem that you ever touched on Codeforces.</h5> 
										<h4 class="text-danger">OR</h4> 
										<h5 class="text-warning">Probably you have not touched even a single problem on Codeforces.</h5>
									{% endif %}
								{% endif %}
							</div>
							<div class="card-footer text-muted">
								Star <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
							</div>
						</div>
						{% for index, problems in final_dict.items() %}
							<br/>
							<div class="card text-center">
								<div class="card-header">
									{{ index }} (Total: {{ problems|length }})
								</div>
								<div class="class-body">
									{% for problem in problems %} 
										<p><a class="text-danger" href="{{ problem[2] }}" target="_blank">{{ problem[0] }} - {{ problem[1] }} {% if problem[3] < 10000 %}(Rating: {{ problem[3] }}) {% else %}(unrated){% endif %}</a></p>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					{% else %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{{ comment }}
							</div>
							<div class="card-footer text-muted">
							    Star <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class="card text-center">
						<div class="card-header">
							What is <img src="{{ url_for('static', filename='images/favicon.png') }}" height="30" class="d-inline-block align-top" alt="mdb logo"><b> <span class="text-warning">Codeforces</span> <span class="text-primary">Upsolving</span> <span class="text-danger">Helper</span></b> ?
						</div>
						<div class="card-body">
							<p class="text-black-50">A web app developed using <a class="text-info" href="https://flask.palletsprojects.com/en/1.1.x/quickstart/#a-minimal-application" target="_blank">Flask</a> that compiles all the Problems on <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a> that you have attempted (submitted at least once) but could not get <span class="text-success">Accepted</span> verdict. For convenience, the problems are segregated by level (i.e. A, B, C and so on) and in each level they are sorted in increasing order by rating. Click on the Problem Name to visit the original problem page on <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a>, solve it, come back here and repeat. Good Luck and High Rating!
							</p>
						</div>
						<div class="card-footer text-muted">
						    Star <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
						</div>
					</div>
				{% endif %}
			</section>
		</div>
	</main>
{% endblock %}