{% extends 'base.html' %}
{% block title %}
	Codeforces Upsolving Helper
{% endblock %}
{% block content %}
<script type="text/javascript">
	function f(e) {
		document.getElementById('connecting_info').style.visibility='visible';
		document.getElementById('connected_info').style.visibility='hidden';
	}
</script>
	<main>
		<div class="container">
			<section class="mx-4 my-3 py-3">
				<div id="connecting_info" style="visibility: hidden;" class="alert alert-info flash" role="alert">
			            Connecting...
			    </div>
				{% for message in get_flashed_messages() %}
			        <div id="connected_info" class="alert alert-success flash" role="alert">
			            {{ message }} Scroll to see results.
			        </div>
			    {% endfor %}
				<div class="card text-center">
					<form method="post" action="{{ url_for('home_view') }}">
						<div class="card-header">
							Enter your Codeforces Handle
						</div>
						<div class="card-body">
							<div class="md-form form-lg input-group my-0">
								<div class="input-group-prepend">
							        <span class="input-group-text" id="basic-addon11">@</span>
							    </div>
								<input type="text" id="user_handle" name="user_handle" class="form-control form-control-lg" aria-label="Username" aria-describedby="basic-addon11" placeholder="Codeforces Handle" >
							</div>
							<button onclick="f()" type="submit" class="btn btn-info btn-rounded">Enter</button>
						</div>
						<div class="card-footer text-muted">
						    Please wait <i class="fas fa-clock"></i> after clicking on Enter Button.
						</div>
					</form>
				</div>

				<br>
				{% if status %}
					{% if status == "OK" %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{% if user_info.handle %}
									<h4>
										{% if user_info.title == 'Newbie' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="grey-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'Pupil' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="light-green-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'Specialist' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="cyan-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'Expert' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="indigo-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'Candidate Master' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="purple-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'Master' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="amber-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'International Master' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="orange-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'Grandmaster' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="red-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'International Grandmaster' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="red-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% elif user_info.title == 'Legendary Grandmaster' %}
											<a target="_blank" href="https://codeforces.com/profile/{{ user_info.handle }}" class="red-text">{{ user_info.title }} {{ user_info.handle }}</a>
										{% endif %}
									</h4>
									<h4>
										{% if user_info.title == 'Newbie' %}
											<span class="grey-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'Pupil' %}
											<span class="light-green-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'Specialist' %}
											<span class="cyan-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'Expert' %}
											<span class="indigo-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'Candidate Master' %}
											<span class="purple-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'Master' %}
											<span class="amber-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'International Master' %}
											<span class="orange-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'Grandmaster' %}
											<span class="red-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'International Grandmaster' %}
											<span class="red-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% elif user_info.title == 'Legendary Grandmaster' %}
											<span class="red-text"><span class="black-text">Rating: </span> {{ user_info.rating }}</span>
										{% endif %}
										(max. 
										{% if user_info.max_title == 'Newbie' %}
											<span class="grey-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'Pupil' %}
											<span class="light-green-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'Specialist' %}
											<span class="cyan-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'Expert' %}
											<span class="indigo-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'Candidate Master' %}
											<span class="purple-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'Master' %}
											<span class="amber-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'International Master' %}
											<span class="orange-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'Grandmaster' %}
											<span class="red-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'International Grandmaster' %}
											<span class="red-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% elif user_info.max_title == 'Legendary Grandmaster' %}
											<span class="red-text">{{ user_info.max_title }}, {{ user_info.max_rating }}</span>
										{% endif %}
										)
									</h4>
									<h4>
										{% if user_info.first_name %} {{ user_info.first_name }} {% endif %}
										{% if user_info.last_name %} {{ user_info.last_name }} {% endif %}
									</h4>
									<h4>{% if user_info.organization %} Organization: {{ user_info.organization }} {% endif %}</h4>
									<h4>Total Problems attempted(at least once) but unsolved are: {{ total_unsolved }}</h4>
									{% if final_dict|length > 0 %}
										Scroll further down to see unsolved Problems. 
									{% else %}
										<h5 class="text-success">Wohooo! You have solved each and every Problem that you ever touched on Codeforces.</h5> 
										<h4 class="text-danger">OR</h4> 
										<h5 class="text-warning">Probably you have not touched even a single problem on Codeforces.</h5>
									{% endif %}
								{% endif %}
							</div>
							<div class="card-footer text-muted">
								<i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
							</div>
						</div>
						{% for key, value in final_dict.items() %}
							<br/>
							<div class="card text-center">
								<div class="card-header">
									{{ key }} (Total: {{ value|length }})
								</div>
								<div class="class-body">
									{% for problem in value %} 
										<p><a class="text-danger" href="{{ problem[2] }}" target="_blank">{{ problem[0] }} - {{ problem[1] }}</a></p>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					{% else %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{{ comment }}
							</div>
							<div class="card-footer text-muted">
							    <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class="card text-center">
						<div class="card-header">
							About
						</div>
						<div class="card-body">
							<p class="text-black-50">A web app developed using <a class="text-info" href="https://flask.palletsprojects.com/en/1.1.x/quickstart/#a-minimal-application" target="_blank">Flask</a> that compiles all the Problems on <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a> that you have attempted (submitted at least once) but could not get <span class="text-success">Accepted</span> verdict. For convenience, the problems are segregated by level (i.e. A, B, C and so on). Click on the Problem Name to visit the original problem page on <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a>, solve it, come back here and repeat. Good Luck and High Rating!
							</p>
						</div>
						<div class="card-footer text-muted">
						    <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
						</div>
					</div>
				{% endif %}
			</section>
		</div>
	</main>
{% endblock %}