<!-- Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <!--Card Regular-->
    <div class="card card-cascade">

      <!--Card image-->
      <div class="view view-cascade overlay">
        <img src="{{ url_for('static', filename='images/sharefile_ad.jpg') }}" alt="normal">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
      <!--/.Card image-->

      <!--Card content-->
      <div class="card-body card-body-cascade text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Kshitiz Srivastava</strong></h4>
        <h5>Web developer | Ethereum Developer</h5>

        <p class="card-text">I am currently pursuing Bachelor of Technology (B.Tech.) in Computer Science and Engineering (CSE, 2018-2022 Batch) from MNNIT Allahabad, Prayagraj, India.
        </p>

        <!--Facebook-->
        <a type="button" href="" target="_blank" class="btn-floating btn-small btn-fb"><i class="fab fa-facebook-f"></i></a>
        <!--Twitter-->
        <a type="button" target="_blank" href="https://www.github.com/pirateksh/" class="btn-floating btn-small btn-tw"><i class="fab fa-github"></i></a>
        <!--Google +-->
        <a type="button" target="_blank" href="https://www.linkedin.com/in/kshitiz-srivastava-992822171/" class="btn-floating btn-small btn-dribbble"><i class="fab fa-linkedin"></i></a>

      </div>
      <!--/.Card content-->

    </div>
    <!--/.Card Regular-->
      </div>
    </div>
  </div>
</div>