<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='images/favicon.png') }}" height="30" class="d-inline-block align-top" alt="mdb logo"> <b> <span class="text-warning">Codeforces</span> <span class="text-primary">Upsolving</span> <span class="text-danger">Helper</span></b>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-dark nav-link"><a class="text-white" href="{{ url_for('team_mode') }}" target="_blank">
          <i class="fas fa-users"></i> Team Mode</a></button>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-dark nav-link" data-toggle="modal" data-target="#aboutModal">
          <a class="text-white"><i class="fas fa-info-circle"></i> About</a>
        </button>
        {% include 'modal_about.html' %}
      </li>
      <li class="nav-item">
        <button class="btn btn-dark nav-link"><a class="text-white" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">
          <i class="fab fa-github"></i> Github</a></button>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->

