<script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/js/jquery-3.4.1.min.js') }}"></script>
<!-- Bootstraptq tooltips -->
<script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/js/popper.min.js') }}"></script>
<!-- Bootstraptq core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/js/bootstrap.min.js') }}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/js/mdb.min.js') }}"></script>
<!-- Initializations -->

<script type="text/javascript">
        // Tooltips Initialization
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })

        // https://stackoverflow.com/a/6121270/11671368
        function fade(element) {
            var op = 1;  // initial opacity
            var timer = setInterval(function () {
                if (op <= 0.1){
                    clearInterval(timer);
                    element.style.display = 'none';
                }
                element.style.opacity = op;
                element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                op -= op * 0.1;
            }, 50);
        }

        // https://stackoverflow.com/a/6121270/11671368
        function unfade(element) {
            var op = 0.1;  // initial opacity
            element.style.display = 'block';
            var timer = setInterval(function () {
                if (op >= 1){
                    clearInterval(timer);
                }
                element.style.opacity = op;
                element.style.filter = 'alpha(opacity=' + op * 100 + ")";
                op += op * 0.1;
            }, 10);
        }

        function toggleSegregation(argument) {
            if (document.getElementById("radioByIndex").checked){
                fade(document.getElementById('byRating'));
                unfade(document.getElementById('byIndex'));    
                document.getElementById('segregationInfo').innerHTML = '<div class="text-center alert alert-primary flash alert-dismissible fade show" role="alert">Currently Problems are segregated based on <a class="alert-link"> <i class="fas fa-sort-alpha-down"></i> Index (A, B, C and so on)</a>.</div>'
            } else if (document.getElementById("radioByRating").checked){
                fade(document.getElementById('byIndex'));
                unfade(document.getElementById('byRating'));
                document.getElementById('segregationInfo').innerHTML = '<div class="text-center alert alert-secondary flash alert-dismissible fade show" role="alert">Currently Problems are segregated based on <a class="alert-link"> <i class="fas fa-chart-line"></i> Rating (Less than 1000, Between 1000 and 1200, and so on)</a>.</div>'
            }
        }

        function f(e) {
            if(e === 'home') {
                document.getElementById('connecting_info').innerHTML = '<div class="d-flex align-items-center"> <strong>Connecting...</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>';
            } else if(e === 'team_mode') {
                document.getElementById('connecting_info').innerHTML = '<div class="d-flex align-items-center"> <strong>Connecting...This might take a little longer than Normal Mode.</strong> <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div></div>';
            }
            fade(document.getElementById('connected_success'));
            fade(document.getElementById('connected_danger'));
        }

        function dismiss(e) {
            fade(document.getElementById(e));
        }
    </script>

