{% extends 'base.html' %}
{% block title %}
	Team Mode
{% endblock %}
{% block content %}
	<main>
		<div class="container">
			<section class="mx-3">
				<div class="d-flex justify-content-end">
					<a href="{{ url_for('home_view') }}">
						<button class="btn btn-info">
							 Switch to <i class="fas fa-user"></i> Normal Mode
						</button>
					</a>
				</div>
				
			    <!-- Messages Template Included -->
			    {% include 'messages.html' %}
			    <div id="connecting_info" class="text-center alert alert-dark flash alert-dismissible fade show" role="alert">
				    Welcome to <img src="{{ url_for('static', filename='images/favicon.png') }}" height="30" class="d-inline-block align-top" alt="mdb logo"> <b> <span class="text-warning">Codeforces</span> <span class="text-primary">Upsolving</span> <span class="text-danger">Helper</span><span class="text-info"> <i class="fas fa-users"></i> Team Mode</span></b>. Feel free to raise <a target="_blank" href="https://github.com/pirateksh/codeforces-upsolving-helper/issues" class="alert-link">issues</a> / <a target="_blank" href="https://github.com/pirateksh/codeforces-upsolving-helper/pulls" class="alert-link">pull requests</a> regarding bugs / improvements.
				    <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button> -->
				</div>
			 	<div id="update" class="text-center alert alert-success flash alert-dismissible fade show" role="alert">
				    <a class="alert-link">UPD (July 24, 2020):</a> <a class="alert-link"><i class="fas fa-random"></i> Randomize</a> button has been added at the <a class="alert-link">end of each section</a> in <a class="alert-link"><i class="fab fa-autoprefixer"></i> All Problemset Recommender</a>.
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
				<div id="update" class="text-center alert alert-info flash alert-dismissible fade show" role="alert">
				    <a class="alert-link">UPD (July 19, 2020):</a> Try new <a class="alert-link">Unattempted Problem Recommender</a> by Entering your <a class="alert-link">handle</a> and then selecting <a class="alert-link"><i class="fas fa-registered"></i> Recommended Problems</a>.
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div>
				<!-- Flashing Messages -->
		<!-- 		<div class="alert alert-warning flash alert-dismissible fade show" role="alert">
				    In case of <a class="alert-link">Internal Server Error</a>, try again after sometime. If it persists raise an <a target="_blank" href="https://github.com/pirateksh/codeforces-upsolving-helper/issues" class="alert-link">issue</a> on github stating the <b>Codeforces Handle</b> you entered.
				    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    	<span aria-hidden="true">&times;</span>
				  	</button>
				</div> -->
				<div class="card text-center">
					<form method="post" action="{{ url_for('team_mode') }}">
						<div class="card-header">
							Enter <img src="{{ url_for('static', filename='images/codeforces-icon.png') }}" height="35" class="d-inline-block align-top" alt="mdb logo"> <span class="text-info">Codeforces</span> Handle(s) (max. 5)
						</div>
						<div class="card-body">
							<div class="md-form form-lg input-group my-0">
								<div class="input-group-prepend">
							        <span class="input-group-text" id="basic-addon11">@</span>
							    </div>
								<input type="text" id="team_user_handles" name="team_user_handles" class="form-control form-control-lg" aria-label="Username" aria-describedby="basic-addon11" placeholder="Codeforces Handle(s)" >
							</div>
							<br/>
							<h5>Separate handles by comma (,).</h5>
							<h5><u>Example</u>: tourist, petr, vovuh</h5>
							<button onclick="f('team_mode')" type="submit" class="btn btn-info btn-rounded">Enter</button>
						</div>
						<div class="card-footer text-muted">
						    Please wait <i class="fas fa-clock"></i> after clicking on Enter Button.
						</div>
					</form>
				</div>
				<!-- Form Card -->

				<br>
				{% if status %}
					{% if status == "OK" %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{% if team_info %}
									<h5><i class="fas fa-users"></i> Team Info ({{ team_info|length }} members)</h5>
									<div class="table-responsive text-nowrap">
										<table class="table table-hover table-sm table-bordered">
											<thead>
										    	<tr>
										      		<th class="d-none d-sm-block d-md-block d-lg-block d-xl-block" scope="col">#</th>
										      		<th scope="col">Handle</th>
										      		<th scope="col">Title (Rating)</th>
										    	</tr>
										  	</thead>
										  	<tbody>
										  		{% for user in team_info %}
										  		 	<tr>
											  			<th class="d-none d-sm-block d-md-block d-lg-block d-xl-block" scope="row">{{ loop.index }}</th>
											  			<td><b><a target="_blank" href="https://codeforces.com/profile/{{ user.handle }}" class="{{ user.color }}">{{ user.handle }}</a></b></td>
											  			<td class="{{ user.color }}"><b>{{ user.title }} ({{ user.rating }})</b> </td>
											  		</tr>
										  		{% endfor %}
										 	</tbody>
										</table>
									</div>
									{% if unsolved_info.total_unsolved > 0 %}
										Scroll further down to see Unsolved or Recommended Problems. 
									{% else %}
										<h5 class="text-success">Wohooo! You guys have solved each and every Problem that you ever touched on Codeforces.</h5> 
										<h4 class="text-danger">OR</h4> 
										<h5 class="text-warning">Probably you have not touched even a single problem on Codeforces.</h5>
									{% endif %}
								{% endif %}
							</div>
							<div class="card-footer text-muted">
								<div class="row">
									<div class="col-6">
										<b>Star <i class="fas fa-star black-text"></i></b> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">Github repository</a>. <i class="far fa-grin-beam red-text"></i>
									</div>
									<div class="col-6">
										<b>Upvote <i class="text-success fas fa-caret-up"></i></b> the <a class="text-info" target="_blank" href="https://codeforces.com/blog/entry/79917"> Codeforces blog</a>. <i class="far fa-grin-beam red-text"></i>
									</div>
								</div>
							</div>
						</div>
						
						<br/>

						{% include 'problems.html' %}

					{% else %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{{ comment }}
							</div>
							<div class="card-footer text-muted">
							    Star <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div id="teamModeDescription" class="card text-center">
						<div class="card-header">
							What is <img src="{{ url_for('static', filename='images/favicon.png') }}" height="30" class="d-inline-block align-top" alt="mdb logo"><b> <span class="text-warning">Codeforces</span> <span class="text-primary">Upsolving</span> <span class="text-danger">Helper</span> <span class="text-info"><i class="fas fa-users"></i> Team Mode</span></b> ?
						</div>
						<div class="card-body">
							<p>
								In <b class="text-info"><i class="fas fa-users"></i> Team Mode</b>, you can enter handle(s) of your <b>team members</b> separated by <b>comma(,)</b> (<b>max. 5 handles</b>). On pressing Enter, you will get the list of those problems of <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a>  which has been <b>attempted by atleast one member</b> of your team but is <b>solved by none</b>.
								<br/>
								<button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#furtherClarificationModal">
						          <i class="fas fa-flushed"></i> Still Confused?
						        </button>
						        {% include 'modal_further_clarification.html' %}
								<b>Problem segregation</b> will be similar to that of <b>Normal Mode</b>.
							</p>
							
					        
						</div>
						<div class="card-footer text-muted">
							<div class="row">
								<div class="col-6">
									<b>Star <i class="fas fa-star black-text"></i></b> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">Github repository</a>. <i class="far fa-grin-beam red-text"></i>
								</div>
								<div class="col-6">
									<b>Upvote <i class="text-success fas fa-caret-up"></i></b> the <a class="text-info" target="_blank" href="https://codeforces.com/blog/entry/79917"> Codeforces blog</a>. <i class="far fa-grin-beam red-text"></i>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
			</section>
		</div>
	</main>
{% endblock %}