{% extends 'base.html' %}
{% block title %}
	Team Mode
{% endblock %}
{% block content %}
	<main>
		<div class="container">

			    <div id="update" class="text-center alert alert-warning flash alert-dismissible fade show" role="alert">
			        You are viewing <a class="alert-link">Team Mode</a>. This mode is currently under development.
			    </div>

			    <!-- Messages Template Included -->
			    {% include 'messages.html' %}

				<div class="card text-center">
					<form method="post" action="{{ url_for('team_mode') }}">
						<div class="card-header">
							Enter your <img src="{{ url_for('static', filename='images/codeforces-icon.png') }}" height="35" class="d-inline-block align-top" alt="mdb logo"> <span class="text-info">Codeforces</span> Handle !
						</div>
						<div class="card-body">
							<div class="md-form form-lg input-group my-0">
								<div class="input-group-prepend">
							        <span class="input-group-text" id="basic-addon11">@</span>
							    </div>
								<input type="text" id="team_user_handles" name="team_user_handles" class="form-control form-control-lg" aria-label="Username" aria-describedby="basic-addon11" placeholder="Codeforces Handle(s) separated by comma (max. 5)" >
							</div>
							<button onclick="f()" type="submit" class="btn btn-info btn-rounded">Enter</button>
						</div>
						<div class="card-footer text-muted">
						    Please wait <i class="fas fa-clock"></i> after clicking on Enter Button.
						</div>
					</form>
				</div>
				<!-- Form Card -->

				<br>
				{% if status %}
					{% if status == "OK" %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{% if team_info %}
									<h5>Team Info ({{ team_info|length }} members)</h5>
									<div class="table-responsive text-nowrap">
										<table class="table table-hover table-sm table-bordered">
											<thead>
										    	<tr>
										      		<th class="d-none d-sm-block d-md-block d-lg-block d-xl-block" scope="col">#</th>
										      		<th scope="col">Handle</th>
										      		<th scope="col">Title (Rating)</th>
										    	</tr>
										  	</thead>
										  	<tbody>
										  		{% for user in team_info %}
										  		 	<tr>
											  			<th class="d-none d-sm-block d-md-block d-lg-block d-xl-block" scope="row">{{ loop.index }}</th>
											  			<td><b><a target="_blank" href="https://codeforces.com/profile/{{ user.handle }}" class="{{ user.color }}">{{ user.handle }}</a></b></td>
											  			<td class="{{ user.color }}"><b>{{ user.title }} ({{ user.rating }})</b> </td>
											  		</tr>
										  		{% endfor %}
										 	</tbody>
										</table>
									</div>
									<h5>Total Common Unsolved Problems: {{ unsolved_info.total_unsolved }}</h5>
								{% endif %}
							</div>
							<div class="card-footer text-muted">
								Star <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
							</div>
						</div>
						
						<br/>

						{% include 'problems.html' %}

					{% else %}
						<div class="card text-center">
							<div class="card-header">
								Status: {{ status }}
							</div>
							<div class="card-body">
								{{ comment }}
							</div>
							<div class="card-footer text-muted">
							    Star <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
							</div>
						</div>
					{% endif %}
				{% else %}
					<div class="card text-center">
						<div class="card-header">
							What is <img src="{{ url_for('static', filename='images/favicon.png') }}" height="30" class="d-inline-block align-top" alt="mdb logo"><b> <span class="text-warning">Codeforces</span> <span class="text-primary">Upsolving</span> <span class="text-danger">Helper</span></b> ?
						</div>
						<div class="card-body">
							<p class="text-black-50">A web app developed using <a class="text-info" href="https://flask.palletsprojects.com/en/1.1.x/quickstart/#a-minimal-application" target="_blank">Flask</a> that compiles all the Problems on <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a> that you have attempted (submitted at least once) but could not get <span class="text-success">Accepted</span> verdict. For convenience, the problems can be segregated by <b>Index</b> (i.e. A, B, and so on) OR <b>Rating (i.e. Less than 1000, Between 1000 and 1200, and so on)</b>. Click on the Problem Name to visit the original problem page on <a class="text-info" href="https://codeforces.com/" target="_blank">Codeforces</a>, solve it, come back here and repeat. Good Luck and High Rating!
							</p>
						</div>
						<div class="card-footer text-muted">
						    Star <i class="fas fa-star black-text"></i> the <a class="text-info" href="https://github.com/pirateksh/codeforces-upsolving-helper" target="_blank">repository</a> on Github if this helped you. <i class="fas fa-grin yellow-text"></i>
						</div>
					</div>
				{% endif %}
			</section>
		</div>
	</main>
{% endblock %}